[project]
name = "mhg-dl"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "bs4>=0.0.2",
    "lzstring>=1.0.4",
    "requests>=2.32.5",
]
[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
